@{
    Layout = "~/Views/Shared/_LayoutTrainer.cshtml";
}

@using Capstone.Web.Models
@using Capstone.Web.Models.ViewModel
@model PopulatePlanViewModel

<h1>hi</h1>

<script src="~/Scripts/exercise.js"></script>
<h1>@Model.Workout.Name</h1>
<input type="hidden" value=@Model.Workout.Id id="workoutID" />
<table name="exerciseTable" id="exerciseTable">
    <tr>
        <td>Strength</td>
    </tr>
    @foreach (Exercise e in Model.Workout.GetBig)
    {
        <tr>
            <td>@e.Name</td>
        </tr>
    }
    <tr>
        <td>Cardio</td>
    </tr>
    @foreach (Exercise e in Model.Workout.RunningAndStuff)
    {
        <tr>
            <td>@e.Name</td>
        </tr>
    }
</table>
<h1>Add Strength Exercise</h1>
<select id="strengthExercises">
    @foreach (Exercise exercise in Model.Exercises)
    {
        if (exercise.Type == 2)
        {
            <option value=@exercise.ExerciseID selected="selected">@exercise.Name</option>
        }
    }
</select>
<input type="number" placeholder="sets" id="sets" />
<input type="number" placeholder="reps" id="reps" />
<button name="strengthExerciseButton" id="exerciseButton">Add Exercise</button>
<h1>Add Cardio Exercises</h1>
<select id="cardioExercises">
    @foreach (Exercise exercise in Model.Exercises)
    {
        if (exercise.Type == 1)
        {
            <option value=@exercise.ExerciseID selected="selected">@exercise.Name</option>
        }
    }
</select>
<input type="number" placeholder="duration" id="duration" />
<input type="number" placeholder="intensity(1-10)" id="intensity" />
<button name="cardioExerciseButton" id="exerciseButton">Add Exercise</button>
